body {
  font-family: "Raleway", sans-serif;
  /*background-image: radial-gradient(circle at center, #899Dc4, #495D84);*/
  background-image: url('../img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
ul li  {
  color:violet;
  list-style-type: none;
  font-weight: bold;
}
 /* styling the button*/
 a {
  /*padding: 20px 20px;*/
  display: inline-block;
  color: #008000;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  overflow: hidden;
}

/*creating animation effect*/
a:hover {
  color: #111;
  background: #39ff14;
  box-shadow: 0 0 40px #39ff14;
  border-radius: 8px;
}

/* footer */
.footer-basic {
  padding:40px 0;
  background-color:#000000;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(6, 52, 255);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
